.bottom-container .info .info-block {
    &:first-child,&:last-child,&:nth-child(3){
        width: calc(20% - 30px)!important;
    }
    &:nth-child(2){
        width: calc(40% - 30px)!important;
    }
}

@media only screen and (min-width:1201px){
    .bottom-container .info .info-block {
        &:first-child,&:last-child,&:nth-child(3){
            width: calc(20% - 30px)!important;
        }
        &:nth-child(2){
            width: calc(40% - 30px)!important;
        }
    }
}
@media only screen and (max-width:1055px) and (min-width:715px){
    .bottom-container .info .info-block {
        &:first-child,&:nth-child(3){
            width: calc(40% - 30px)!important;
        }
        &:last-child,&:nth-child(2){
            width: calc(60% - 30px)!important;
        }
    }
}
@media only screen and (max-width:1373px){
    .bottom-container .info .info-block {
        &:not(.info-title){
            font-size: 14px;
        }
    }
}
@media only screen and (max-width:414px){
    .bottom-container .info .info-block {
        &:not(.info-title){
            font-size: 12.5px;
        }
    }
}

@media only screen and (max-width:768px){
    ul.lp-socials {
        justify-content:center;
    }
}

.bottom-container .info .info-block .lp-link {
    font-weight: 400;
}