/* Start - Contact modal theming - WB Myk REV */
div#modal-global-contact-us{
    .contact-form .section-message{
        form{
            input.lp-input,textarea.lp-input{
                border-color: #fff;
            }
            label.lp-label{
                color: #fff;
                text-transform:uppercase;
            }
        }
        &:after{
            background: #fff;
        }
    }
    @media only screen and (max-width:768px){
        div.redesign .socials{
            justify-content: center;
        }
    }
}
/* END */
/* Start - Contact modal spacing fix - WB Myk REV */
div#modal-global-contact-us .contact-form .info-zone .type_user:nth-of-type(2) {
    margin-bottom: 0;
}
@media only screen and (max-width: 560px){
    div#modal-global-contact-us .contact-form .info-zone .type_user {
        margin-bottom: 22px;
    }
}
/* END */


//MASTERPIECE

div#modal-global-contact-us{
    .contact-form__close{
        opacity: 1;
        @media only screen and (max-width:768px){
            color: #fff;
        }
    }
    // .input-container .lp-input ~ .input-icon{
    //     filter:invert(1);
    // }
    .lp-input{
        border-color:#fff;
        text-transform: uppercase;
        &::placeholder{
            opacity: 1;
        }
    }
    .company{
        color:#000;
    }
    @media only screen and (max-width:768px){
        .company p{
            text-align:center;
        }
        .contact-form__title2{
            text-align:center;
        }
    }
}