//ACCORDION
span.accordion-opener{
    border-color: #012069;
    &:before{
        border-color: #012069;
    }
}

//half and half

&{
    background-repeat: no-repeat;
    -webkit-background-size: 650px;
    background-size: 650px;
    -webkit-background-position: bottom 0% left 0%;
    background-position: bottom 0% left 0%;
}

//PARALLAX
/*START - Parallax effect*/
&{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 768px) {
    &{
    background-attachment:unset;
    }
}
/*END - Parallax effect*/

//FORM
.lp-input--dark{
    border-color:#211f1f;
    &::placeholder{
        opacity:1;
    }
}
button.uf-cus-sel-toggle.is-placeholder{
    color:#211f1f;
}
button.uf-cus-sel-item:focus,button.uf-cus-sel-item:hover{
    background-color:#86745F;
    color:#fff;
}

div.form-col{
    &:nth-child(3){
        flex: 1 1 200px;
    }
    &:nth-child(2){
        flex: 1 1 200px;
    }
}

//TEXT GRID
div.text-grid .button-wrapper{
    padding:0;
}



@media only screen and (max-width: 768px){
    div.newsletter-sign-up .contact-us-form{
        margin-bottom: 0;
        padding-bottom:0;
        padding-left:0;
        padding-right:0;
        margin-right: 0;
    }
}

div.hoverable-image__text-col .lp-text--subtitle{
    border-left: 2px solid #002C59;
    padding-left: 50px;
}




div.text-grid .button-wrapper{
    padding:0;
}

.lp-a--dark a{
    &:before,&:after{
        display:none;
    }
}


div.scene__item {
    padding-bottom: 0!important;
    padding-top: 0!important;
}


@media only screen and (max-width:768px){
    li.scene:last-child{
        margin-top:25px;
        div.scene__item div.scene__content{
            div.lp-a.lp-a--dark{
                display: flex;
                flex-direction: column-reverse;
                div{
                    p:last-child{
                        margin-bottom:0;
                    }
                    h2{
                        margin-top:25px;
                    }
                }
            }
        }
    }
}




a.grid__link{
    min-width: 280px;
    text-align: center;
    @media only screen and (max-width:768px){
        width:80%;
    }
}



div.hoverable-image--reverse .hoverable-image__text-col{
    padding-right: 0!important;
    .buttons-wrapper{
        justify-content: center;
    }
    .hoverable-image__text-wrap{
        height: 100%;
        background-color: #F2F3F0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px!important;
        border: 1px solid #A48363;
    }
    background-color: #F2F3F0;
    padding: 30px!important; 
}

div.hoverable-image--reverse .hoverable-image__text-col{
    padding-right: 0!important;
    .buttons-wrapper{
        justify-content: center;
    }
    .hoverable-image__text-wrap{
        height: 100%;
        background-color: #F2F3F0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px!important;
        @media only screen and (max-width:768px){
            padding: 10px!important;
        }
        border: 1px solid #A48363;
    }
    background-color: #F2F3F0;
    padding: 30px!important;
    @media only screen and (max-width:768px){
        padding: 10px!important;
    }
}

@media only screen and (max-width:992px){
    div.hoverable-image__img-col>div {
        min-height:unset!important;
        padding-bottom:100%;
    }
    div.hoverable-image--reverse .hoverable-image__text-col{
        margin-top:0;
    }
    div.hoverable-image__img-col>div{
        .secondary-image {
            visibility: visible!important;
            opacity: 1;
        }
        .main-image {
            visibility: hidden;
            opacity: 0;
        }
    }
}



hr{
    height: 1px;
    width: 100%;
    left: 60%;
    margin: auto;
    top: auto;
    bottom: auto;
    background: #fff;
    position: absolute;
}




//////
// <div class="title-sereno" style="text-align: left;"><hr />
// <h2 style="text-align: left;">Our Funds</h2>
// </div>
hr{
    height: 1px;
    width: 100%;
    bottom: auto;
    background: #DA291C;
}

div.title-sereno{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    hr{
        flex: 100%;
        max-width:950px;
    }
    @media only screen and (max-width:768px){
        flex-direction:column-reverse;
        hr{
            flex: auto;
        }
    }
    
}

div.button-container {
    display:none;
}


////////
hr{
    height: 1px;
    width: 100%;
    bottom: auto;
    margin-bottom:5px;
    background: #fff;
}

h2{
    margin-bottom:5px;
}

div.title-gables{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    h2{
        max-width:580px;
        width:100%;
        text-align:center! important;
    }
    hr{
        flex: auto;
        width:auto;
    }
    @media only screen and (max-width:768px){
        flex-direction:column-reverse;
        hr{
            flex: auto;
            &:last-child{
                display:none;
            }
        }
    }
    
}

div.button-container {
    display:none;
}

/* Start - Adjust proper spacing - WB Myk REV */
div.boxed-text__description{
    margin-bottom:0;
    p{
        margin-bottom:0;
    }
}


///////////


div.media-text__content {
    @media only screen and (min-width:769px){
        max-width: 50vw;
    }
    @media only screen and (max-width:768px){
        padding-left:20px;
        padding-right:20px;
        padding-bottom:0;
    }
    
    background-color: rgba(255,255,255,0.9)!important;
}

div.lp-vertical-paddings {
    padding-top: 0;
    padding-bottom: 0;
}

div.lp-container {
    margin-right: unset;
    padding-right: 0;
    @media only screen and (max-width:768px){
        padding-left:0;
    }
}

img.media-text__image {
    width: 100%!important;
}


/////////// image with cta
/// 
/// 
/// 
/// 
img.media-text__image {
    width: 100% !important;
}

div.media-text__content {

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: #fff;

    img {
        filter: invert(1);
    }

    @media only screen and (min-width:769px) {
        padding: 70px !important;
    }
}

div.lp-title-group {
    max-width: 100%;
}

div.lp-container {
    margin-left: unset !important;
    max-width: 100%;

    @media only screen and (max-width:768px) {
        background-color: #000;
    }

    @media only screen and (min-width:769px) {
        width: 40%;
    }
}