/* Start - Footer styling - WB Myk REV */
footer#global-footer .footer{
    
    .info-privacy{
        border-color:#000;
        .copy_zone{
            border-color:#000;
            
        }
    }
}
/* END */
/* Start - Footer spacing fix - WB Myk REV */
footer#global-footer .footer.no_newsletter .info-wrap-contact_zone:first-of-type {
    margin-bottom: 21px;
}
@media only screen and (max-width:768px){
    footer#global-footer .footer{
        h3{
            margin-bottom:21px;
        }
        .info-wrap{
            margin-bottom:0;
        }
    }
}
/* END */
