/*START - increase logo size - WB myk*/
@media only screen and (min-width:534px){
    nav#global-navbar .header__logo a.logo{
     width: 300px;
     height: 80px;
     max-width: 300px;
     & .logo__img {
         width: 300px;
         height: 80px;
     }
 } 
}

@media only screen and (max-width: 768px){
nav#global-navbar .logo {
 width: 234px;
}
}
/*END- increase logo size - WB myk*/

/* START - header nav theme - WB myk*/
nav#global-navbar{
     /* START - default state - homepage header nav*/
 .header.theme-light{
     .header__hamburger{
         circle {
             fill: #b19a55;
         }
         svg rect{
             fill:#fff!important;
         }
     }
     ul.navigation li.navigation__item{
     color:#fff;
         .sub-nav__link {
             color: #000;
             background-color: #fff;
         }
         .sub-nav__link:hover {
             color: #FFF;
             background-color: #b19a55;
         }
         .navigation__link:after{
             background: #fff;
         }
     }
     .search__btn svg {
         color:#fff;
     }
     a.header__btn-contact{
         background: transparent;
         color: #fff!important;
         border-color: #fff!important;
         &:hover{
             background: #fff!important;
             color: #B19667!important;
             border-color: #fff!important;
         }
     }
 }
 /* END- default state - homepage header nav*/

 /* START- default state - other pages header nav(property details+home val)*/
 .header{
     .header__hamburger{
         circle {
             fill: #b19a55;
         }
         svg rect{
             fill:#fff!important;
         }
     }
     ul.navigation li.navigation__item{
     color:#000;
         .sub-nav__link {
             color: #000;
             background-color: #fff;
         }
         .sub-nav__link:hover {
             color: #FFF;
             background-color: #b19a55;
         }
         .navigation__link:after{
             background: #b19a55;
         }
     }
     .search__btn svg {
         color:#B19667;
     }
 }
 /* END - default state - other pages header nav(property details+home val)*/

 /* START - scrolled state header nav in all pages(including homepage)*/
 &.scroll{
     background-color: transparent!important;
     .header{
         background-color: rgba(0,0,0,0.7);
         .header__hamburger{
             circle {
                 fill: #b19a55;
             }
             svg rect{
                 fill:#fff!important;
             }
         }
         ul.navigation li.navigation__item{
         color:#fff;
             .sub-nav__link {
                 color: #000;
                 background-color: #fff;
             }
             .sub-nav__link:hover {
                 color: #fff;
                 background-color: #b19a55;
             }
             .navigation__link:after{
                 background: #b19a55;
             }
         }
         .search__btn svg {
             color:#FFF;
         }
         a.header__btn-contact{
             background: transparent;
             color: #fff!important;
             border-color: #fff!important;
             &:hover{
                 background: #fff!important;
                 color: #B19667!important;
                 border-color: #fff!important;
             }
         }
     }
 }
 
 
 /* ENd - scrolled state header nav in all pages(including homepage)*/
}
/* END - header nav theme - WB myk*/

div#global-sidemenu.sidemenu{
 .navigation__link,.sub-nav__link{
     &:hover{
         color:#b19a55;
     }
 }
}

@media(max-width:560px){
 div#global-sidemenu .sidemenu__socials{
     margin-right:auto;
     padding-left:0;
     padding-right:0;
     .lp-socials{
         justify-content:center;
         max-width:100%;
         gap:10px;
         li{
             margin:0!important;
         }
     }
 }
}

/*START - removing dash on all hyperlink*/
.hyperlink-style-1:before, .hyperlink-style-2:before {
 content: ""!important;
}
/*END - removing dash on all hyperlink*/

footer#global-footer {
 a{
     color:#000;
 }
 a:hover{
     color:#b19a55;
 }
 
 div.site-footer__col-content.lp-a{
     opacity:1;
 }
 .footer-navigation__link{
     color: #000000;
     &:hover {
     color: #b19a55;
     }
 }
}
/*END - footer theming - wb myk*/

/*START Privacy Policy Fix*/
#global-footer  div.site-footer__bottom  div.site-footer__copy > div:nth-child(2) > a {
  position: relative!important;
 &:before, &:after{
     transition: 0.4s;
     text-decoration: none!important;
     line-height: 1;
     content: "";
     height: 1px;
     position: absolute!important;
     bottom: 0;
     left: 0;
     
 }
 &:before {
     opacity: 0.3;
     width: 100%!important;
     background-color: #000!important;
 }
 &:after{
     opacity: 1;
     width: 0%!important;
     background-color: #b19a55!important; 
 }
 &:hover:after{
     width: 100%!important;
 }
}
/*END*/

/* START Footer Disclaimer color - WB myk*/
#global-footer .site-footer__disclaimer {
 opacity: 1;
 color: #000;
}
/* END Footer Disclaimer color - WB myk*/

footer#global-footer .site-footer__disclaimer:after {
 background-color: #b19a55!important;
 opacity: 1;
}

/* Footer, Update logo size */

footer#global-footer {
 @media only screen and (max-width:560px){
     .lp-socials li {
         margin-right: 6px;
     }
 }
 .site-footer__logo-bar{
     .site-footer__logo-container {
         img {
 max-width: 300px!important;
 max-height: 100px!important;
         }
     }
 }
}

/* END */

/* Mobile Icons, update theme - WB */
div#global-mobile-contact .buttons-holder {
 a,
 button {
     background: #FFF;
     border: 1px solid #b19a55;
 }
 /* Update Email and phone icon*/
 a svg path{
     fill: #b19a55;
 }
 /* Update search button icon theme*/
 button i {
     color:  #b19a55;
 }
}
/* END */

div#modal-global-contact-us{
 .contact-form__close{
     opacity: 1;
     @media only screen and (max-width:768px){
         &.close{
             color: #fff;
         }
     }
 }
 
 .lp-input{
     border-color:#fff;
     
     &::placeholder{
         opacity: 1;
     }
 }
 .company{
     color:#000;
 }
 @media only screen and (max-width:768px){
     .company p{
         text-align:center;
     }
     .contact-form__title2{
         text-align:center;
     }
     .socials li {
         padding: 3px;
     }
 }
}

div.sidemenu__wrapper{
 background-image: url(https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/dfqn7ph5uz5wfphpx6zb/side);
 background-repeat: no-repeat;
 -webkit-background-size: 200px;
 background-size: 200px;
 -webkit-background-position: bottom 0% left 50%;
 background-position: bottom 50% left 50%;
}