/* Start - MLS props theming - WB Myk REV */
button.custom-select-item:hover, button.custom-select-item.is-selected{
    background-color: #000;
    color:#fff;
}
div.listing-card__status>div{
    background-color:#000;
    text-transform:uppercase;
}
input.lp-input,button.lp-input{
    border-color:#000;
    color:#000;
    &::placeholder{
        color:#000!important;
        opacity:1;
    }
}
div.listing-card__address{
    text-transform:uppercase;
}
div.listing-card__info{
    background-color:#EBE7E0;
}
/* END */

//DEMOGRAPHICS
/* Start - Demographics spacing fix - WB Myk REV */
div.tab-section__content{
    padding-bottom:0;
}
/* END */

//SCHOOLS
/* Start - Visible icons and links - WB Myk REV */
div.type-list__item,div.type-list__item:hover{
    border-color:#000;
}

div.category-wrap{
    color:#000;
}
a.lp-link:after{
    background-color:#fff;
}
div.name-item__heading.name{
    svg path{
        fill:#fff;
    }
}
div.type-item__icon{
    svg path{
        fill:#002349;
    }
}
div.items-box__filters{
    border-color:#000;
}
div.items-box__content{
    border-color:#000;
}
/* END */

//DEMO
li.population-education__symbol{
    border-color:#473729;
}

div.description{
   border-color:#473729; 
}

div.tab-section:not(:last-child){
    border-color:#473729; 
}

div.tab .overview-item{
    border-color:#473729; 
}