/* Start - MLS props theming - WB Myk REV */
button.custom-select-item:hover, button.custom-select-item.is-selected{
    background-color: #000;
    color:#fff;
}
div.listing-card__status>div{
    background-color:#000;
    text-transform:uppercase;
}


div.range-slider{
    span.irs--round .irs-handle:hover {
        background-color: #000;
        i{
            background-color: #fff!important;
        }
    }
}

div.listing-card__address{
    text-transform:uppercase;
}
div.listing-card__info{
    background-color:#EBE7E0;
}

@media only screen and (min-width:760px){
    div.properties-grid__item{
        &:nth-last-child(2){
            a.listing-card{
                margin-bottom:0;
            }
        }
        &:nth-last-child(3){
            a.listing-card{
                margin-bottom:0;
            }
        }
    }
}

div.properties-grid__item{
    &:last-child{
        a.listing-card{
            margin-bottom:0;
        }
    }
}
/* END */


// overview

p.item__name--hint::after{
    background-color: #f8c731!important;
}

span.hint{
    background-color: #f8c731!important;
    &:after{
       background-color: #f8c731!important; 
    }
}


div.tab .overview-item__name--hint::after{
    background-color: #f8c731!important;
}


div.score__help{
    button svg path{
        fill:#2A505D!important;
    }
    .tippy-content{
        background-color:#2A505D!important;
        
    }
}
div.tippy-arrow:before{
    border-top-color:#2A505D!important;
}

//DEMOGRAPHICS
/* Start - Demographics spacing fix - WB Myk REV */
div.tab-section__content{
    padding-bottom:0;
}
/* END */

//SCHOOLS
/* Start - Visible icons and links - WB Myk REV */
div.type-list__item,div.type-list__item:hover{
    border-color:#000;
}

div.btn-wrap{
    margin-top: 0;
    button{
        margin-top: 32px;
    }
}

div.category-wrap{
    color:#000;
}
a.lp-link:after{
    background-color:#fff;
}
div.name-item__heading.name{
    svg path{
        fill:#fff;
    }
}
div.type-item__icon{
    svg path{
        fill:#002349;
    }
}
div.items-box__filters{
    border-color:#000;
}
div.items-box__content{
    border-color:#000;
}
/* END */

//DEMO
li.population-education__symbol{
    border-color:#473729;
}

div.description{
   border-color:#473729; 
}

div.tab-section:not(:last-child){
    border-color:#473729; 
}

div.tab .overview-item{
    border-color:#473729; 
}


//POI

span.tag{
    background-color: #000;
    color:#fff;
}

div.stars .star.is-filled {
    background-color: #000;
}